<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa32r7xHszZ92K6YZ7epZf0HXrEqy3wwA</string>
	<key>GCM_SENDER_ID</key>
	<string>297075599265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safedrivealan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>safedriveuserauth-1e624</string>
	<key>STORAGE_BUCKET</key>
	<string>safedriveuserauth-1e624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297075599265:ios:d54046845f109ad8e8cde0</string>
</dict>
</plist>